{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2>Login</h2>
    <hr>
    {% for message in messages %}
      {% if message.tags == 'error' %}
        {% if forloop.last %}
          <div class="alert alert-danger my-3">{{ message }}</div>
        {% endif %}
      {% endif %}
    {% endfor %}
    <form method="POST" class="row needs-validation" autocomplete="off" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <label for="user" class="form-label">Usuário: </label>
        <input type="text" name="username" id="user"{% if username  %}value="{{ username }}"{% endif %} class="form-control" required placeholder="Digite seu nome de usuário ...">
        <div class="invalid-feedback text-center">O nome de usuário é obrigatório!</div>
      </div>
      <div class="mb-3">
        <label for="pass" class="form-label">Senha: </label>
        <input type="password" name="password" id="pass" class="form-control" required placeholder="Digite sua senha ...">
        <div class="invalid-feedback text-center">A senha é obrigatória!</div>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-primary">Entrar</button>
      </div>
    </form>
{% endblock %}